<div class="red-bg">
    <img src="images/logo_w2.png" class="logo-holder float-left-logo">

    <div class="inNav">
        <a href="/home">Home</a>
        <a href="/stock">Stock</a>
        <a href="/sale">Sale</a>
          <a href="/charts">Charts</a>
        <a href="/logout">Logout</a>
        <a href="" style="text-transform: capitalize;">Welcome <%= name %>
        </a>

    </div>
</div>
