<!DOCTYPE html>
<html>

<head>
    <title> Chico State Pantry</title>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="icon" href="https://www.csuchico.edu/style-guide/visual/_images/CSUCHICO-Seal-Color.png">

    <style>
        /* Make the image fully responsive */
        
        .carousel-inner img {
            width: 100%;
            height: 100%;
        }
    </style>

</head>

<body>

    <br>
    <br>
    <br>
    <div class="container ">
        <div class="row">

            <div class="col-md-12">

                <div class="box_out" style="min-height: 650px;">

                    <%- include('partials/header') %>

                        <div class="inWrap">
                            <br><br>


                            <div class="container">

                                <div class="row">

                                    <div class="col-md-7">

                                        <div class="row">

                                            <div class="col-md-4 ">
                                                <div class="p-grid dash-bg">
                                                    Checkout
                                                </div>
                                            </div>
                                            <div class="col-md-4 ">
                                                <a href="/stock">
                                                    <div class="p-grid dash-bg">
                                                        Add Stock
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-md-4  ">
                                                <a href="/donor">
                                                    <div class="p-grid dash-bg">
                                                        Add Donor
                                                    </div>
                                                </a>
                                            </div>


                                        </div>


                                        <div class="row mt-2">

                                            <div class="col-md-4 ">
                                                <div class="p-grid dash-bg">
                                                    Expiry Check
                                                </div>
                                            </div>
                                            <div class="col-md-4 ">
                                                <a href="/sale">
                                                    <div class="p-grid dash-bg">
                                                        Sale Report
                                                    </div>
                                                </a>
                                            </div>


                                        </div>




                                    </div>

                                    <div class="col-md-5 ">


                                        <table class="table ">
                                            <thead class=" ">
                                                <tr style="background-color: #8c2332; color: white; ">
                                                    <th scope="col ">#</th>
                                                    <th scope="col ">Feed</th>


                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td>Milk stock no. #er445 is about to expire please check.</td>

                                                </tr>

                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td>Banana stock no. #er4a67 is about to expire please check.</td>

                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>


                                </div>


                            </div>

                        </div>
                </div>
            </div>
        </div>

        <footer class="footer mt-5">
            <div class="container">
                <span></span>
            </div>
        </footer>

</body>

</html>