<!DOCTYPE html>
<html>

<head>
    <title> Food Pantry</title>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <style>
        /* Make the image fully responsive */
        
        .carousel-inner img {
            width: 100%;
            height: 100%;
        }
    </style>

</head>

<body>



    <br>
    <br>
    <br>
    <div class="container ">
        <div class="row">

            <div class="col-md-9">
                <div class="box_out">

                    <div class="red-bg">
                        <img src="images/logo_w2.png" class="logo-holder float-left-logo">

                        <div class="inNav">
                            <a href="/">Home</a>
                            <a href="">Students</a>
                            <a href="">About</a>
                            <a href="/register">Register</a>
                            <a href="">Help</a>

                        </div>
                    </div>

                    <div class="inWrap">

                        <div id="demo" class="carousel slide" data-ride="carousel">

                            <!-- Indicators -->
                            <ul class="carousel-indicators">
                                <li data-target="#demo" data-slide-to="0" class="active"></li>
                                <li data-target="#demo" data-slide-to="1"></li>
                                <li data-target="#demo" data-slide-to="2"></li>
                            </ul>

                            <!-- The slideshow -->
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="https://s3.amazonaws.com/mobilecause-avatar-production/shared_img/shared_imgs/305039/original/PHOTO_-_Giving_Day_POP_UP_2018_SPC_edited.jpg?1574272847" alt="Los Angeles" width="1100" height="500">
                                </div>
                                <div class="carousel-item">
                                    <img src="https://pbs.twimg.com/media/DCtRfupVwAADXGt.jpg" alt="Chicago" width="1100" height="500">
                                </div>
                                <div class="carousel-item">
                                    <img src="https://www.chicoer.com/wp-content/uploads/2018/06/NEWS_180509740_AR_0_KMDQLYXMZGVK.jpg?w=620" alt="New York" width="1100" height="500">
                                </div>
                            </div>

                            <!-- Left and right controls -->
                            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next" href="#demo" data-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </a>
                        </div>


                    </div>


                </div>
            </div>

            <div class="col-md-3 ">
                <div class="box_in" style="padding: 10%;">
                    <form action="/login" method="post">

                        <img src="images/logo.png" class="logo-holder">
                        <br><br>
                        <div class="form-group">
                            <input type="email" class="form_input" id="email" name="email" aria-describedby="emailHelp" placeholder="E-mail">
                        </div>

                        <div class="form-group">
                            <input type="password" class="form_input" id="password" name="password" placeholder="Password">
                        </div>

                        <button type="submit" id="submitDetails" name="submitDetails" class="btn form_input red font-white">Login</button>

                    </form>
                    <small id="SignUp" class="form-text text-muted" style="width: 100%; text-align: center;">
					<a href="/register">Want to register?</a>
				</small>
                </div>

                <div class="box_in mt-3" style="padding: 10%;">
                </div>
            </div>


        </div>
    </div>

    <footer class="footer mt-5">
        <div class="container">
            <span></span>
        </div>
    </footer>

</body>

</html>