<!DOCTYPE html>
<html>

<head>
    <title> Signup Form</title>



    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="icon" href="https://www.csuchico.edu/style-guide/visual/_images/CSUCHICO-Seal-Color.png">




</head>

<body>

    <br>
    <br>
    <br>
    <div class="container ">
        <div class="row">
            <div class="col-md-3">

            </div>

            <div class="col-md-6 box_in">


                <form action="/sign_up" method="post">

                    <img src="images/logo.png" class="logo-holder">
                    <h2 align="center">Register</h2><br>

                    <%- include('partials/messages') %>

                        <br>
                        <div class="form-group">
                            <input type="text" class="form_input" id="name" name="name" placeholder="Name">
                            <small id="emailHelp" class="form-text text-muted"></small>
                        </div>

                        <div class="form-group">
                            <input type="email" class="form_input" id="email" name="email" aria-describedby="emailHelp" placeholder="E-mail">
                        </div>


                        <div class="form-group">
                            <input type="text" class="form_input" id="phone" name="phone" placeholder="Phone Number">
                        </div>

                        <div class="form-group">
                            <input type="password" class="form_input" id="password" name="password" placeholder="Password">
                        </div>

                        <button type="submit" id="submitDetails" name="submitDetails" class="btn form_input red font-white">Register</button>
                </form>
                <br>
                <small id="SignUp" class="form-text text-muted" style="width: 100%; text-align: center;">
                <a href="/">Already have an account?</a>
            </small>

            </div>


            <div class="col-md-3">
            </div>

        </div>
    </div>
</body>

</html>