name: Build Node

on:
  push:
    branches: [main, frontend]
  pull_request:
    branches: [main, frontend]

jobs:
  backend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Install dependencies
        run: |
          cd backend
          npm ci
      - name: Build
        run: |
          cd backend
          npm run build
  frontend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - run: |
          cd frontend 
          npm ci
      - run: |
          cd frontend
          npm run build
