name: ES Lint

on:
  pull_request:
    branches: [containerize-React] #Remove before merge main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Setup node
        uses: actions/setup-node@v3
      - name: Install dependencies
        run: |
          cd backend
          npm init @eslint/config
      - name: Install typescript and eslint
        run: npm install --save-dev @typescript-eslint/parser @typescript-eslint/eslint-plugin eslint-config-react-app eslint@^8.0.0 typescript
      - name: Lint it
        run: npx eslint .